#carousel {
    display: flex;
    height: 400px;
    width: 1920px;
    background-color: var(--sec_500);

    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 800px;
    --position: 1;
}

.carousel-item {
    position: absolute;
    width: 1090px;
    height: 340px;
    transition: all 0.5s ease-in;

    --reference: calc(var(--position) - var(--offset));
    opacity: --reference;
    transform: rotateY(calc(-10deg * var(--reference))) translateX(calc(-1200px * var(--reference)));
}

.carousel-item:nth-of-type(1) {
    --offset: 1;
}

.carousel-item:nth-of-type(2) {
    --offset: 2;
}

.carousel-item:nth-of-type(3) {
    --offset: 3;
}

.carousel-item:nth-of-type(4) {
    --offset: 4;
}

#carousel input:nth-of-type(1):checked~div#carousel {
    --position: 1;
}

#carousel input:nth-of-type(2):checked~div#carousel {
    --position: 2;
}

#carousel input:nth-of-type(3):checked~div#carousel {
    --position: 3;
}

#carousel input:nth-of-type(4):checked~div#carousel {
    --position: 4;
}

.carousel-animation {
    object-fit: fill;
}

#carousel-inputs {
    display: flex;
    position: absolute;
    bottom: 0;
}

.carousel-input {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 20px;
    cursor: pointer;
}

input[type="radio"] {
    margin: 0;
    opacity: 0;
}

.radio-design {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    outline-offset: 3px;
    outline: 3px solid #888888;
}

input[type="radio"]:checked~.radio-design {
    outline-color: var(--pri_400);
    background: var(--pri_400);
}