:root {
    --lightblue: #7895A0;
    --darkblue: #366374;
}

.loader {
    display: none;

    border: 10px solid var(--lightblue);
    border-top: 10px solid var(--darkblue);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    /*margin: auto; */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.show-loader {
    display: block;
}