#carousel {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: var(--sec_600);

    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 800px;
    --position: 1;
}

.carousel-item {
    position: absolute;
    width: 1090px;
    height: 300px;
    transition: all 0.5s ease-in;
    opacity: 1;

    --reference: calc(var(--position) - var(--offset));
    opacity: --reference;
    transform: rotateY(calc(-10deg * var(--reference))) translateX(calc(-1200px * var(--reference)));
}

.carousel-item:nth-of-type(1) {
    --offset: 1;
}

.carousel-item:nth-of-type(2) {
    --offset: 2;
}

.carousel-item:nth-of-type(3) {
    --offset: 3;
}

.carousel-item:nth-of-type(4) {
    --offset: 4;
}

#carousel input:nth-of-type(1):checked~div#carousel {
    --position: 1;
}

#carousel input:nth-of-type(2):checked~div#carousel {
    --position: 2;
}

#carousel input:nth-of-type(3):checked~div#carousel {
    --position: 3;
}

#carousel input:nth-of-type(4):checked~div#carousel {
    --position: 4;
}

.carousel-img {
    position: absolute;
    bottom: 0;
}

#carousel .card-button {
    top: 60%;
    left: 50%;
    bottom: auto;
    right: auto;
}

#carousel .button {
    font-size: 40px;
}

.carousel-animation {
    object-fit: fill;
    animation: carousel-bounce 0.5s linear 0.5s forwards;
}

@keyframes carousel-bounce {
    0% {
        width: 100%;
        height: 107%;
    }

    25% {
        width: 100%;
        height: 97%;
    }

    50% {
        width: 100%;
        height: 103%;
    }

    75% {
        width: 100%;
        height: 99%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

#carousel-inputs {
    display: flex;
    position: absolute;
    bottom: 0px;
}

.carousel-input {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 20px;
    cursor: pointer;
}

input[type="radio"] {
    margin: 0;
    opacity: 0;
}

.radio-design {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    outline-offset: 3px;
    outline: 3px solid #888888;
}

input[type="radio"]:checked~.radio-design {
    outline-color: var(--pri_400);
    background: var(--pri_400);
}

@media only screen and (min-width: 768px) {

    #carousel .card-button {
        top: auto;
        left: auto;
        bottom: 10px;
        right: -50px;
    }
}