.form-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.form-container {
    display: none;
    background-color: var(--sec_500);
    padding: 40px 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.google-btn,
.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.google-btn {
    background-color: white;
    color: #555;
    font-family: 'Nunito';
    font-weight: bold;
}

.google-btn:hover {
    background-color: #e2e0e0;
}

.facebook-btn {
    background-color: #3b5998;
    color: white;
    font-family: 'Nunito';
    font-weight: bold;
}

.facebook-btn:hover {
    background-color: #354f87;
}

.sec-btn {
    background-color: var(--sec_400);
    color: var(--pri_500);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
    font-family: 'Nunito';
    font-weight: bold;
}

.sec-btn:hover {
    color: var(--pri_300)
}

.registration-form,
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-wrapped input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: 'Nunito';
}

.form-wrapped input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.captcha {
    display: flex;
    width: fit-content;
    background-color: var(--white);
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
}

.submit-btn {
    width: 150px;
    margin-top: 10px;
    transition: all 0.4s cubic-bezier(0.67, 0.17, 0.40, 0.83);
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.0);
}

.submit-btn:hover {
    background-color: var(--pri_300);
}

.submit-btn-focus {
    width: 121px;
    padding: 5px;
    background: mediumseagreen;
    transform: rotate(-180deg);
    pointer-events: none;
}

.submit-btn-focus:hover {
    background-color: mediumseagreen;
}

.divider {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    position: relative;
    color: var(--pri_500);
}

.divider:before,
.divider:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: var(--pri_500);
}

.divider:before {
    left: 0;
}

.divider:after {
    right: 0;
}

.form-active {
    display: block;
}

svg {
    transform: rotate(180deg);
}