* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    letter-spacing: 0.11em;
    line-height: 94.5%;
}

body {
    overflow: auto;
    /* Enable scrolling */
    scrollbar-width: none;
    /* Firefox */
}

html {
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
    display: none;
} */

/* Lato Regular */
@font-face {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Lato-Regular.ttf);
}

/* Lato Semiold */
@font-face {
    font-family: 'Lato';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/Lato-Semibold.ttf);
}

/* Lato Bold */
@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Lato-Bold.ttf);
}

/* Lato Bold Italic */
@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/Lato-BoldItalic.ttf);
}

body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

main {
    background-color: white;
}

.container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
}

#debugTab {
    width: auto;
    position: fixed;
    top: 100px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

/* ╔══════━━━━━━────── • 1 - hero • ──────━━━━━━══════╗ */

.hero {
    height: 954px;
    background-image: url(../img/1/background.png);
    background-repeat: no-repeat;
    background-size: 1279px 959px;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
    }

    .arbol1 {
        left: -153px;
        z-index: 9;
    }

    .arbol2 {
        top: 107px;
        right: -37px;
        z-index: 4;
    }

    .arbol3 {
        top: 279px;
        right: -79px;
        z-index: 2;
    }

    .bushbig {
        top: 663px;
        right: -46px;
        z-index: 3;
    }

    .bushbig2 {
        top: 718px;
        left: 162px;
        z-index: 8;
    }

    .bushchunk {
        top: 822px;
        left: 198px;
        z-index: 11;
    }

    .bushlong {
        top: 630px;
        right: 60px;
        z-index: 1;
    }

    .rockbig {
        top: 794px;
        left: 130px;
        z-index: 10;
    }

    .rockmedium {
        top: 738px;
        right: 94px;
        z-index: 6;
    }

    .rocksmall {
        top: 738px;
        right: 178px;
        z-index: 5;
    }

    .rocksmaller {
        top: 787px;
        right: 178px;
        z-index: 7;
    }

    .hero1 {
        top: 500px;
        left: 411px;
        z-index: 6;
    }

    .hero2 {
        top: 403px;
        left: 536px;
        z-index: 4;
    }

    .hero3 {
        top: 338px;
        left: 694px;
        z-index: 3;
    }
}

/* ╔══════━━━━━━────── • 2 - masdivertida • ──────━━━━━━══════╗ */

.masdivertida {
    height: 1876px;
    background-image: url(../img/2/background.svg);
    background-repeat: no-repeat;
    position: relative;

    h2 {
        padding-top: 60px;
        width: 508px;
        font-weight: 600;
        font-size: 47px;
        letter-spacing: normal;
        color: #1B428F;
    }

    p {
        padding-top: 22px;
        width: 701px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: normal;
        line-height: normal;
        color: #1B428F;
    }

    .window {
        position: absolute;
        top: 416px;
        left: 236px;
        width: 577px;
        height: 325px;
        border-radius: 77px;
        outline: 29px solid #1B5F99;
        outline-offset: -29px;
        animation: switch-window 12s infinite linear;
        opacity: 0;
    }

    .w1 {
        animation-delay: 0s;
    }

    .w2 {
        animation-delay: 3s;
    }

    .w3 {
        animation-delay: 6s;
    }

    .w4 {
        animation-delay: 9s;
    }

    .n4 {
        position: absolute;
        top: 612px;
        left: 48px;
    }

    .n5 {
        position: absolute;
        top: -12px;
        left: 787px;
    }

    .card-container {
        position: absolute;
        top: 1320px;
        display: flex;
        justify-content: space-between;
        width: 1080px;

        .card {
            transition: 1.2s cubic-bezier(.51, .47, .43, 1.33);
            opacity: 0;
        }

        .c2 {
            transition-delay: 0.1s;
        }

        .c3 {
            transition-delay: 0.2s;
        }

        p {
            width: 333px;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: normal;
            line-height: normal;
            color: black;
        }

        img {
            border-radius: 41px;
            outline: 9px solid #2982FF;
            outline-offset: -9px;
            box-shadow: 4px 5px 0px 0px #02187e;
        }

        .card-up {
            opacity: 1;
            transform: translate(0, -175px);
        }
    }

}

@keyframes switch-window {

    0% {
        opacity: 0;
    }

    5%,
    25% {
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

/* ╔══════━━━━━━────── • 3 - descarga • ──────━━━━━━══════╗ */

.descarga {
    height: 1157px;
    background-image: url(../img/3/background.svg);
    display: flex;
    justify-content: center;

    .prueba {
        width: 950px;
        height: 150px;
        margin-top: 175px;

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 61.14px;
            line-height: 110%;
            letter-spacing: 0;
            color: white;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 20px;
        }

        span {
            font-family: "Lato", sans-serif;
            font-weight: 500;
            font-style: italic;
            letter-spacing: 0;
        }
    }

    .download-button {
        position: absolute;
        margin-top: 390px;
        background-color: #83C252;
        color: white;
        width: 538px;
        height: 65px;
        border-radius: 111px;
        border: 0;
        outline: 8px solid white;
        font-size: 31.14px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 0px;
        -webkit-text-stroke: 1px white;
        cursor: pointer;
        box-shadow: 4px 5px 0px 8px #02187E;
    }

    .download-span {
        font-size: 31.14px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 0px;
    }

    .boys-container {
        position: absolute;
        overflow: hidden;
        margin-top: 390px;

    }

    img.boys {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease-out;
    }


}

/* ╔══════━━━━━━────── • 4 - masamigos • ──────━━━━━━══════╗ */

.masamigos {
    height: 5421px;

    .container {
        overflow: visible;
    }

    .columns {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 4780px;
    }

    .left {
        border: 1px solid red;
        position: sticky;
        top: calc(50vh - 225px);
        width: 50%;
        height: 450px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .right {
        width: 467px;
        height: 4469px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 159px;
        letter-spacing: 0;
    }

    h2 {
        font-family: 'Lato', serif;
        font-weight: 400;
        font-size: 40px;
        font-style: normal;
        line-height: 94.5%;
        text-align: left;
        letter-spacing: 0;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
        line-height: 94.5%;
        margin-top: 15px;
        text-align: left;
        letter-spacing: 0;
    }

    h1 {
        font-size: 60px;
        font-weight: 600;
        padding-top: 174px;
        line-height: 56.7px;
        letter-spacing: 0;
    }

    .character {
        position: absolute;
        top: 0;
        transform: translateX(-200px);
        max-width: 100%;
        height: 450px;
        opacity: 0;
        transform: scale(0.9);
        transition: 1s;
    }

    .active-char {
        opacity: 1;
        transform: scale(1);
    }

    .item {
        margin-bottom: 267px;
        border: 1px solid blue;
    }

    .item:last-child {
        margin-bottom: 0;
    }

}

/* ╔══════━━━━━━────── • 5 - video • ──────━━━━━━══════╗ */

.video {
    height: 1444px;
    background-image: url(../img/5/background.png);
    position: relative;

    h2 {
        position: absolute;
        height: 171px;
        width: 802px;
        top: 309px;
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 0px;
        color: #ffffff;
    }

    .iframe-container {
        position: relative;
        width: 746px;
        height: 394px;
        top: 601px;
        border-radius: 45px;
        background-color: white;
        padding: 29px;
        box-sizing: content-box;
    }

    .styled-iframe {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 15px;
    }

    .hero3 {
        position: absolute;
        top: 427px;
        right: 0;
        z-index: 2;
    }
}

/* ╔══════━━━━━━────── • 6 - model3d • ──────━━━━━━══════╗ */

.model3d {
    height: 1037px;
    padding-top: 223px;
    position: relative;

    h1 {
        width: 746px;
        height: 285px;
        font-weight: 600;
        font-size: 60px;
        letter-spacing: normal;
        color: #9D2121;
        margin-left: 2px;
    }

    p {
        width: 467px;
        height: 190px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0px;
        padding-top: 43px;
    }

    model-viewer {
        pointer-events: all;
        width: 667px;
        height: 973px;
        position: absolute;
        top: 10px;
        right: 14px;
    }
}

/* ╔══════━━━━━━────── • 7 - colores • ──────━━━━━━══════╗ */

.colores {
    height: 729px;
}

/* ╔══════━━━━━━────── • 8 - pre-footer • ──────━━━━━━══════╗ */

.pre-footer {
    height: 1570px;
    background-image: url(../img/8/background.svg);
    position: relative;
    overflow: hidden;

    .floor {
        position: absolute;
        bottom: 0;
    }

    h2 {
        width: 816px;
        font-weight: 600;
        font-size: 60px;
        letter-spacing: normal;
        padding-top: 190px;
    }

    form {
        margin-top: 41px;
        width: 780px;
        border-radius: 50px;
        display: flex
    }

    input,
    button {
        all: unset;
    }

    input {
        width: 562px;
        height: 100px;
        background-color: #ECECEC;
        border-radius: 50px 0 0 50px;
        box-sizing: border-box;
        border-top: 9px solid white;
        border-left: 9px solid white;
        border-bottom: 9px solid white;
        font-size: 20px;
        box-shadow: 4px 5px 0 0 #02187E;
    }

    input::placeholder {
        padding-left: 43px;
    }

    button {
        width: 218px;
        height: 100px;
        background-color: #83C252;
        border-radius: 0 50px 50px 0;
        box-sizing: border-box;
        border: 9px solid white;
        box-shadow: 4px 5px 0 0 #02187E;
        color: white;
        font-size: 20px;
        font-weight: 900;
        -webkit-text-stroke: 1px white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    p {
        width: 578px;
        height: 95px;
        margin-top: 46px;
        font-size: 20px;
        letter-spacing: 0px;
    }

    span {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        letter-spacing: 0px;
    }

    .esrb {
        margin-top: 11px;
    }

    .gif {
        position: absolute;
    }

    .gif:nth-child(1) {
        width: 480px;
        height: 480px;
        top: 1048px;
        left: 65px;
    }

    .gif:nth-child(2) {
        width: 509px;
        height: 509px;
        top: 1019px;
        left: 407px;
    }

    .gif:nth-child(3) {
        width: 561px;
        height: 997px;
        top: 613px;
        left: 756px;
    }

    .h-parallax {
        position: relative;

        img {
            position: absolute;
            animation: hparallax 0s linear infinite;
        }

        img:nth-child(1) {
            width: 265px;
            height: 124px;
            top: 517px;
            animation-duration: 100s;
        }

        img:nth-child(2) {
            width: 387px;
            height: 131px;
            top: 560px;
            animation-duration: 60s;
        }

        img:nth-child(3) {
            width: 387px;
            height: 131px;
            top: 819px;
            animation-duration: 30s;
        }
    }
}

@keyframes hparallax {
    0% {
        left: -400px;
    }

    100% {
        left: calc(100% + 50px);
    }
}