/* ╔══════━━━━━━────── • HEADER • ──────━━━━━━══════╗ */

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1280px;
    height: 103px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.01);
    z-index: 1000;
    backdrop-filter: blur(1px);

    display: flex;

    justify-content: center;
    overflow: visible;

    .container {
        position: relative;

        .hamburger {
            cursor: pointer;
            width: 34px;
            height: 27px;
            position: absolute;
            top: 20px;

            .line {
                height: 4px;
                border-radius: 111px;
                background-color: #F39E46;
                outline: 4px solid white;
                /*la sombra en el figma se aplica al contenedor de las lineas y copia la forma de estas; imposible.
                esta implementacion la replica perfectamente */
                box-shadow: 4px 5px 0 3.5px #02187E;
                margin-bottom: 7px
            }
        }
    }
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 103px;
}

.logo {
    width: auto;
    height: auto;
    max-height: 320px;
    object-fit: contain;
    margin-top: 320px;
}

.buy-container {
    flex: 1;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 0px;
}

.buy-button {
    background-color: #83C252;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 0;
    outline: 8px solid white;
    font-size: 20px;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 0px 8px #02187E;
}

/* ╔══════━━━━━━────── • ASIDE • ──────━━━━━━══════╗ */

aside {
    display: none;
    background-color: #ffebcd;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#sidebar-container {
    padding: 1em;
}

/* ╔══════━━━━━━────── • FOOTER • ──────━━━━━━══════╗ */

footer {
    display: flex;
    justify-content: center;
    background-color: #5E5E5D;
    padding: 1em 0;
}

footer p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

#footer-container {
    max-width: 1080px;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
}