* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    letter-spacing: 0.11em;
    line-height: 94.5%;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

/* #loader-container {
    background-color: #ffcccb;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2em;
} */

.container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
}

/* ╔══════━━━━━━────── • 1 - hero • ──────━━━━━━══════╗ */

.hero {
    height: 954px;
    background-image: url(../img/1/background.png);
    background-repeat: no-repeat;
    background-size: 1279px 959px;
    /*     padding: 2em 0; */

    border: 1px solid blue;
}

/* ╔══════━━━━━━────── • 2 - masdivertida • ──────━━━━━━══════╗ */

.masdivertida {
    height: 1876px;
    background-image: url(../img/2/background.svg);
    background-repeat: no-repeat;
    position: relative;

    h2 {
        padding-top: 60px;
        width: 508px;
        font-weight: 600;
        font-size: 47px;
        letter-spacing: normal;
        color: #1B428F;
    }

    p {
        padding-top: 22px;
        width: 701px;
        /*en figma son 704px, pero por 4px el word-wrap es diferente, preferi priorizar que se vea identico y no 4px vacios*/
        font-weight: 500;
        font-size: 20px;
        letter-spacing: normal;
        line-height: normal;
        color: #1B428F;
    }

    .window {
        position: absolute;
        top: 336px;
        left: 236px;
        width: 577px;
        height: 325px;
        border-radius: 77px;
        outline: 29px solid #1B5F99;
        outline-offset: -29px;
    }

    .n4 {
        position: absolute;
        top: 537px;
        left: 48px;
    }

    .n5 {
        position: absolute;
        top: -87px;
        left: 789px;
    }

    .card-container {
        position: absolute;
        top: 1220px;
        display: flex;
        justify-content: space-between;
        width: 1080px;

        border: 1px solid red;

        p {
            width: 333px;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: normal;
            line-height: normal;
            color: black;
        }

        img {
            border-radius: 41px;
            outline: 9px solid #2982FF;
            outline-offset: -9px;
            box-shadow: 4px 5px 0px 0px #02187e;
        }
    }
}

/* ╔══════━━━━━━────── • 3 - descarga • ──────━━━━━━══════╗ */

.descarga {
    height: 1157px;
    background-image: url(../img/3/background.svg);
}

/* ╔══════━━━━━━────── • 4 - masamigos • ──────━━━━━━══════╗ */

.masamigos {
    height: 5421px;
}

/* ╔══════━━━━━━────── • 5 - video • ──────━━━━━━══════╗ */

.video {
    height: 1444px;
    background-image: url(../img/5/background.png);
}

/* ╔══════━━━━━━────── • 6 - model3d • ──────━━━━━━══════╗ */

.model3d {
    height: 1037px;
}

/* ╔══════━━━━━━────── • 7 - colores • ──────━━━━━━══════╗ */

.colores {
    height: 729px;
    background-color: red;
}

/* ╔══════━━━━━━────── • 8 - pre-footer • ──────━━━━━━══════╗ */

.pre-footer {
    height: 1570px;
}

/* ╔══════━━━━━━────── • FOOTER • ──────━━━━━━══════╗ */

footer {
    display: flex;
    justify-content: center;
    background-color: #5E5E5D;
    padding: 1em 0;
}

footer p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

#footer-container {
    max-width: 1080px;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
}